@charset "UTF-8"; 

*{
    padding: 0px;
    margin: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    /* text-transform: uppercase; */
}

header>p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    color: red;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(58, 57, 57);
    color: white;
    
}

section.imagem>p{
    background-color: black;
    width: 400px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}

/* caso queira colocar caracteristicas especificas em apenas tipos especificos de links como header e footer por exemplo, basta indentifica-los assim: 
header a, footer a{ }
header a:hover, footer a:hover {}
 */




