@charset "UTF-8";

body{
    background-color: lightgray;
}

header{
    color: rgb(92, 5, 92);
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(199, 19, 199, 0.747), rgba(0, 0, 0, 0.514));
    padding: 10px;
    border-radius: 20px;
}

header>h1{
    font-variant: small-caps;
}

nav>a{
    text-decoration: none;
    color: lightgray;   
}

a.nav1{
    background-color: black;
    margin: 4px;
    padding: 4px;
    border-radius: 10%;

}

a.nav2{
    background-color: black;
    margin: 4px;
    padding: 4px;
    border-radius: 10%;

}

a.nav3{
    background-color: black;
    margin: 4px;
    padding: 4px;
    border-radius: 10%;

}

a:hover{
    color: purple;
}

header:hover{
    color: purple;
}   

main{
    background-color: lightgray;
    color: black;
    /* text-align: justify; */
    text-align: center;
    margin: 4px;
    padding: 10px;
    margin-top: 10px;
    /* border-radius: 4%; */
}